

<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
	<script src="./public/main.js"></script>
	<link rel="stylesheet" type="text/css" href="./public/main.css" />
    <body>
    	<!--
    	<input type="text" id="keypad" value="test" />
	    -->
    	<div id="debug"></div>
    	<h2>Wordl</h2>
    	<p>
    		Start typing your 5-letter word guesses below. You'll get 6 chances!
    	</p>
    	<div id="wordl">
	    	<wordl-board id="wordl-board" init_word="<%=word%>" init_wordlength=5 init_chances=6></wordl-board>
    	</div>
	</body>
</html>