body {
	font-family: arial;
	font-size: .9em;
}

span.letter {
	text-align: center;
	display: inline-block;
	border: 1px solid black;
	vertical-align:top;
	padding: 1em;
	margin: 1em;
}

span.match {
	background-color: lightgreen;
}
span.present {
	background-color: yellow;
}
span.empty {
	opacity: .2;
}

#wordl {
	position: relative;
}

#wordl-board {
	position: relative;
	background-color: white;
	border: 1px solid red;
	overflow-y: auto;
}

#keypad {
	border: none;

	display: block;
	opacity: .05;
	position: fixed;
	border: 1px solid black;
	top: 40px;
	bottom: 0px;
	width: 100%;
	z-index: 1000;

}




