body {
	font-family: arial;
	font-size: .9em;
}

span.letter {
	text-align: center;
	display: inline-block;
	border: 1px solid black;
	vertical-align:top;
	padding: 1em;
	margin: 1em;
}

span.match {
	background-color: lightgreen;
}
span.present {
	background-color: yellow;
}
span.empty {
	opacity: .2;
}

#wordl {
	position: relative;
}

#wordl-board {
	position: relative;
	background-color: white;
	border: 1px solid red;
	overflow-y: auto;
}

#keypad {
	width: 1px;
	height: 1px;
	border: none;
	position: fixed;
	top: -100px;
}




