body {
	-webkit-appearance: none;
	touch-action: manipulation;
	font-family: arial;
	font-size: 2.6em;
}

.wordl_row {
	text-align: center;
}

span.letter {
	text-align: center;
	display: inline-block;
	border: 1px solid black;
	vertical-align:top;
	padding: 4%;
	margin: 2%;
}

span.match {
	background-color: lightgreen;
}
span.present {
	background-color: yellow;
}
span.empty {
	opacity: .2;
}

#wordl {
	position: relative;
}

#wordl-board {
	position: relative;
	background-color: white;
	overflow-y: auto;
}

#keyboard {
	text-align: center;
}

#keyboard .key {
	width: 5%;
	margin: 1%;
	font-size: 1.0em;
}

#keyboard .used {
	opacity: .3;
}

#keyboard .special {
	width: 10%;
	background-color: darkgray;
}

#specialchar {
	padding: 1em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
}
#inputSpecialChar, #btnSpecialChar {
	width: 100px;
	font-size: 1em;	
}

#solution {
	text-align: center;
}

#debug {
	height: 100px;
	padding: 1em;
	background-color#eee;
	border: 5px solid black;
}

